[submodule "pack/lol/start/vim-polyglot"]
	path = pack/lol/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/lol/start/nerdtree"]
	path = pack/lol/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/lol/start/vim-airline"]
	path = pack/lol/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/lol/start/vim-fugitive"]
	path = pack/lol/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/themes/start/dracula"]
	path = pack/themes/start/dracula
	url = git@github.com:dracula/vim.git
[submodule "pack/lol/start/vim-airline-themes"]
	path = pack/lol/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "pack/lol/start/vim-latex-live-preview"]
	path = pack/lol/start/vim-latex-live-preview
	url = git@github.com:xuhdev/vim-latex-live-preview.git
[submodule "pack/lol/start/YouCompleteMe"]
	path = pack/lol/start/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
